body {
	background-color: #41b111;
	margin: 0;
	padding: 0;
	font-family: Microsoft JhengHei;
	position: absolute;
	width: 100%;
	height: 100%;
}

.wrapper {
	background: url(../img/intro-bg.svg) no-repeat;
	background-size: cover;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.intro {
	width: 620px;
	height: 620px;
	margin: auto;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}


.flipsnap {
	width: 4340px;
}

.item {
	width: 620px;
	height: 580px;
	text-align: center;
	padding: 0;
	float: left;
	color: #fff;
	margin: 0;
	position: relative;
}

.layer {
	background-size: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.layer.intro01a {
	background: url(../img/intro-01-a.svg) top center no-repeat;
}

.layer.intro01b {
	background: url(../img/intro-01-b.svg) top center no-repeat;
}

.layer.intro02a {
	background: url(../img/intro-02-a.svg) top center no-repeat;
}

.layer.intro02b {
	background: url(../img/intro-02-b.svg) top center no-repeat;
}

.layer.intro03a {
	background: url(../img/intro-03-a.svg) top center no-repeat;
}

.layer.intro03b {
	background: url(../img/intro-03-b.svg) top center no-repeat;
}

.layer.intro04a {
	background: url(../img/intro-04-a.svg) top center no-repeat;
}

.layer.intro04b {
	background: url(../img/intro-04-b.svg) top center no-repeat;
}

.layer.intro-tip01a {
	background: url(../img/intro-tip01-a.svg) top center no-repeat;
}

.layer.intro-tip01b {
	background: url(../img/intro-tip01-b.svg) top center no-repeat;
}

.layer.intro-tip01c {
	color: #3d3d3d;
	font-size: 25px;
	line-height: 542px;
	font-weight: bold;
}

.oprani .layer.intro-tip01c.left {
	background: url(../img/intro-tip01-c-left.svg) top center no-repeat;
	text-align: left;
	opacity: 0;
	-webkit-animation:arwl 6s infinite;
	animation:arwl 6s infinite;	
}

.oprani .layer.intro-tip01c.right {
	background: url(../img/intro-tip01-c-right.svg) top center no-repeat;
	text-align: right;
	opacity: 0;
	-webkit-animation:arwr 6s infinite;
	animation:arwr 6s infinite;
}

.intro-tip-screen {
	background-color: #41b111;
	width: 180px;
	height: 315px;
	left: 50%;
	margin-left: -90px;
	top: 88px;
	z-index: 0;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}


.oprani .intro-tip-screen .innerui {
	background: url(../img/intro-tip01-screen.svg) top center no-repeat;
	width: 540px;
	height: 315px;
	display: block;
	position: absolute;
	opacity: 0;
	-webkit-animation:ani-ui 6s infinite;
	animation:ani-ui 6s infinite;
}

.oprani .intro-tip-screen .innerui::before,.oprani .intro-tip-screen .innerui::after {
	content: '';
	width: 180px;
	height: 315px;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-animation:ani-ui-over 6s infinite;
	animation:ani-ui-over 6s infinite;
}

.oprani .intro-tip-screen .innerui::after {
	width: 360px;
	-webkit-animation:ani-ui-over2 6s infinite;
	animation:ani-ui-over2 6s infinite;
}

.oprani .intro-tip-screen .innerui .uiclick {
	background: url(../img/intro-tip01-screen-click.svg) top center no-repeat;
	position: absolute;
	width: 0px;
	height: 0px;
	top: 50%;
	right: 90px;
	display: block;
	-webkit-animation:ani-ui-click 6s infinite;
	animation:ani-ui-click 6s infinite;
}

.oprani .layer.intro-tip01b {
	position: absolute;
	-webkit-animation:ani-fgr 6s infinite;
	animation:ani-ui-fgr 6s infinite;
}

@-webkit-keyframes ani-ui
{
    0%{margin-left: 0;opacity: 0;}
    5%{margin-left: 0;opacity: 1;}
    20%{margin-left: 0;}
    28%{margin-left: -180px;}
    35%{margin-left: -180px;}
    43%{margin-left: -360px;}
    95%{margin-left: -360px;opacity: 1;}
    98%{margin-left: -360px;opacity: 0;display: none;}
    99%{margin-left: 0px;opacity: 0;display: block;}
}
@keyframes ani-ui
{
    0%{margin-left: 0;opacity: 0;}
    5%{margin-left: 0;opacity: 1;}
    20%{margin-left: 0;}
    28%{margin-left: -180px;}
    35%{margin-left: -180px;}
    43%{margin-left: -360px;}
    95%{margin-left: -360px;opacity: 1;}
    98%{margin-left: -360px;opacity: 0;display: none;}
    99%{margin-left: 0px;opacity: 0;display: block;}
}

@-webkit-keyframes arwl
{
    10%{opacity: 0;}
    20%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 0;}
}
@keyframes arwl
{
    10%{opacity: 0;}
    20%{opacity: 1;}
    50%{opacity: 1;}
    60%{opacity: 0;}
}

@-webkit-keyframes arwr
{
    65%{opacity: 0;}
    75%{opacity: 1;}
    85%{opacity: 1;}
    95%{opacity: 0;}
}
@keyframes arwr
{
    65%{opacity: 0;}
    75%{opacity: 1;}
    85%{opacity: 1;}
    95%{opacity: 0;}
}

@-webkit-keyframes ani-fgr
{
    20%{left: 0;}
    23%{left: -8px;}
    25%{left: 0;}
    35%{left: 0;}
    38%{left: -8px;}
    40%{left: 0;}
    50%{left: 0;top: 0;}
    53%{left: 0;top: 3px;}
    55%{left: 0;top: 0;}
    70%{left: 0;}
    75%{left: 10px;}
    77%{left: 0;}
}
@keyframes ani-fgr
{
	20%{left: 0;}
    23%{left: -8px;}
    25%{left: 0;}
    35%{left: 0;}
    38%{left: -8px;}
    40%{left: 0;}
    50%{left: 0;top: 0;}
    53%{left: 0;top: 3px;}
    55%{left: 0;top: 0;}
    70%{left: 0;}
    75%{left: 10px;}
    77%{left: 0;} 
}

@-webkit-keyframes ani-ui-over
{
    20%{opacity: 0;}
    28%{opacity: 1;}
}
@keyframes ani-ui-over
{
    20%{opacity: 0;}
    28%{opacity: 1;}
}

@-webkit-keyframes ani-ui-over2
{
    35%{opacity: 0;}
    43%{opacity: 1;}
}
@keyframes ani-ui-over2
{
    35%{opacity: 0;}
    43%{opacity: 1;}
}

@-webkit-keyframes ani-ui-click
{
    50%{width: 0;height: 0;right: 90px;top: 50%;}
    60%{width: 180px;height: 315px;right: 0;top: 0}
    70%{width: 180px;height: 315px;right: 0;top: 0}
    78%{width: 180px;height: 315px;right: -180px;top: 0;}
    100%{width: 180px;height: 315px;right: -180px;top: 0;}
}
@keyframes ani-ui-click
{
    50%{width: 0;height: 0;right: 90px;top: 50%;}
    60%{width: 180px;height: 315px;right: 0;top: 0}
    70%{width: 180px;height: 315px;right: 0;top: 0}
    78%{width: 180px;height: 315px;right: -180px;top: 0;}
    100%{width: 180px;height: 315px;right: -180px;top: 0;}
}

.layer.intro-tip02a {
	background: url(../img/intro-tip01-a.svg) top center no-repeat;
}

.layer.intro-tip02a::after {
	background: url(../img/intro-tip01-b.svg) top center no-repeat;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.shkani .layer.intro-tip02a {
	-webkit-animation:ani-shk 2.5s infinite;
	animation:ani-ui-shk 2.5s infinite;
}

@-webkit-keyframes ani-shk
{
    50%{-webkit-transform: rotate(0deg);}
    52%{-webkit-transform: rotate(8deg);}
    55%{-webkit-transform: rotate(-8deg);}
    58%{-webkit-transform: rotate(8deg);}
    61%{-webkit-transform: rotate(-8deg);}
    63%{-webkit-transform: rotate(0deg);}
}

@keyframes ani-shk
{
    50%{transform: rotate(0deg);}
    52%{transform: rotate(8deg);}
    55%{transform: rotate(-8deg);}
    58%{transform: rotate(8deg);}
    61%{transform: rotate(-8deg);}
    63%{transform: rotate(0deg);}
}

.layer.intro-tip02b {
	background: url(../img/intro-tip02-b.svg) top center no-repeat;
}



.item .text {
	width: 580px;
	text-align: left;
	margin: auto;
	font-size: 24px;
}

.item .text.tinner {
	margin-top: 380px;
}

.item .text h1 {
	line-height: 60px;
	margin: 0;
}

.item .text h2 {
	line-height: 40px;
	font-size: 30px;
	margin: 0 0 20px 0;
	font-weight: normal;
}


.ani02 h3 {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0;
	font-weight: normal;
	top: 120px;
	font-size: 18px;
}

.guide {
	width: 320px;
	line-height: 70px;
	background-color: #333;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	margin: auto;
	top: 550px;
}

.pointer {
	text-align: center;
}

.pointer span.current {
	background: #fff;
}
.pointer span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 15px 5px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.3);
}

.entrance {
	position: absolute;
	width: 100%;
	height: 70%;
	padding-top: 30%;
	top: 0;
	left: 0;
	display: none;
}

.entrance .btn-start {
	position: absolute;
	bottom: 0;
	line-height: 150px;
	width: 100%;
	color:#fff;
	background-color: #41b111;
	font-size: 50px;
	box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
}

.entrance .btn-start span, .entrance .btn-start img {
	vertical-align: middle;
}