body {
	background-color: #41b111;
	margin: 0;
	padding: 0;
	font-family: Microsoft JhengHei;
	position: absolute;
	width: 100%;
	height: 100%;
}

.wrapper {
	background: url(../img/intro-bg.svg) no-repeat;
	background-size: cover;
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.intro {
	width: 620px;
	height: 620px;
	margin: auto;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}


.flipsnap {
	width: 4340px;
}

.item {
	width: 620px;
	height: 580px;
	text-align: center;
	padding: 0;
	float: left;
	color: #fff;
	margin: 0;
	position: relative;
}

.layer {
	background-size: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.layer.intro01a {
	background: url(../img/intro-01-a.svg) top center no-repeat;
}

.layer.intro01b {
	background: url(../img/intro-01-b.svg) top center no-repeat;
}

.layer.intro02a {
	background: url(../img/intro-02-a.svg) top center no-repeat;
}

.layer.intro02b {
	background: url(../img/intro-02-b.svg) top center no-repeat;
}

.layer.intro03a {
	background: url(../img/intro-03-a.svg) top center no-repeat;
}

.layer.intro03b {
	background: url(../img/intro-03-b.svg) top center no-repeat;
}

.layer.intro04a {
	background: url(../img/intro-04-a.svg) top center no-repeat;
}

.layer.intro04b {
	background: url(../img/intro-04-b.svg) top center no-repeat;
}

.layer.intro-tip01a {
	background: url(../img/intro-tip01-a.svg) top center no-repeat;
}

.layer.intro-tip01b {
	z-index: 5;
	background: url(../img/intro-tip01-b.svg) top center no-repeat;
}

.layer.intro-tip01c.left {
	background: url(../img/intro-tip01-c-left.svg) top center no-repeat;
}

.layer.intro-tip01c.right {
	background: url(../img/intro-tip01-c-right.svg) top center no-repeat;
}

.intro-tip-screen {
	background-color: #41b111;
	width: 180px;
	height: 315px;
	left: 50%;
	margin-left: -90px;
	top: 88px;
	overflow: hidden;
}

.intro-tip-screen .innerui {
	background: url(../img/intro-tip01-screen.svg) top center no-repeat;
	width: 540px;
	height: 315px;
	display: block;
	position: relative;
	-webkit-animation:ani-ui 4s infinite;
	animation:ani-ui 4s infinite;
}

.intro-tip-screen .innerui::before,.intro-tip-screen .innerui::after {
	content: '';
	width: 180px;
	height: 315px;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-animation:ani-ui-over 4s infinite;
	animation:ani-ui-over 4s infinite;
}

.intro-tip-screen .innerui::after {
	width: 360px;
	-webkit-animation:ani-ui-over2 4s infinite;
	animation:ani-ui-over2 4s infinite;
}

.intro-tip-screen .innerui .uiclick {
	background: url(../img/intro-tip01-screen-click.svg) top center no-repeat;
	position: absolute;
	width: 0px;
	height: 0px;
	top: 50%;
	right: 90px;
	display: block;
	-webkit-animation:ani-ui-click 4s infinite;
	animation:ani-ui-click 4s infinite;
}

.layer.intro-tip01b.fgrani {
	-webkit-animation:ani-fgr 4s infinite;
	animation:ani-ui-fgr 4s infinite;
}

@-webkit-keyframes ani-ui
{
    20%{margin-left: 0;}
    30%{margin-left: -180px;}
    35%{margin-left: -180px;}
    45%{margin-left: -360px;}
    91%{margin-left: -360px;opacity: 1;}
    98%{margin-left: -360px;opacity: 0;}
    99%{margin-left: 0px;opacity: 0;}
}
@keyframes ani-ui
{
    20%{margin-left: 0;}
    30%{margin-left: -180px;}
    35%{margin-left: -180px;}
    45%{margin-left: -360px;}
    91%{margin-left: -360px;opacity: 1;}
    98%{margin-left: -360px;opacity: 0;}
    99%{margin-left: 0px;opacity: 0;}
}

@-webkit-keyframes ani-fgr
{
    20%{left: 0;}
    23%{left: -8px;}
    25%{left: 0;}
    35%{left: 0;}
    38%{left: -8px;}
    40%{left: 0;}
    50%{left: 0;top: 0;}
    53%{left: 0;top: 3px;}
    55%{left: 0;top: 0;}
    70%{left: 0;}
    75%{left: 10px;}
    77%{left: 0;}
}
@keyframes ani-fgr
{
	20%{left: 0;}
    23%{left: -8px;}
    25%{left: 0;}
    35%{left: 0;}
    38%{left: -8px;}
    40%{left: 0;}
    50%{left: 0;top: 0;}
    53%{left: 0;top: 3px;}
    55%{left: 0;top: 0;}
    70%{left: 0;}
    75%{left: 10px;}
    77%{left: 0;} 
}

@-webkit-keyframes ani-ui-over
{
    20%{opacity: 0;}
    30%{opacity: 1;}
}
@keyframes ani-ui-over
{
    20%{opacity: 0;}
    30%{opacity: 1;}
}

@-webkit-keyframes ani-ui-over2
{
    35%{opacity: 0;}
    45%{opacity: 1;}
}
@keyframes ani-ui-over2
{
    35%{opacity: 0;}
    45%{opacity: 1;}
}

@-webkit-keyframes ani-ui-click
{
    50%{width: 0;height: 0;right: 90px;top: 50%;}
    55%{width: 180px;height: 315px;right: 0;top: 0}
    70%{width: 180px;height: 315px;right: 0;top: 0}
    80%{width: 180px;height: 315px;right: -180px;top: 0;}
    100%{width: 180px;height: 315px;right: -180px;top: 0;}
}
@keyframes ani-ui-click
{
    50%{width: 0;height: 0;right: 90px;top: 50%;}
    55%{width: 180px;height: 315px;right: 0;top: 0}
    70%{width: 180px;height: 315px;right: 0;top: 0}
    80%{width: 180px;height: 315px;right: -180px;top: 0;}
    100%{width: 180px;height: 315px;right: -180px;top: 0;}
}

.layer.intro-tip02a {
	background: url(../img/intro-tip01-a.svg) top center no-repeat;
}

.layer.intro-tip02a::after {
	background: url(../img/intro-tip01-b.svg) top center no-repeat;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.layer.intro-tip02b {
	background: url(../img/intro-tip02-b.svg) top center no-repeat;
}



.item .text {
	width: 580px;
	text-align: left;
	margin: auto;
	font-size: 24px;
}

.item .text.tinner {
	margin-top: 380px;
}

.item .text h1 {
	line-height: 60px;
	margin: 0;
}

.item .text h2 {
	line-height: 40px;
	font-size: 30px;
	margin: 0 0 20px 0;
	font-weight: normal;
}

.pointer {
	text-align: center;
}

.pointer span.current {
	background: #fff;
}
.pointer span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 15px 5px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.3);
}